// PANTONE INTRIGUE Main Color Scheme */
$primary-color-1: #5F4B8B;      //Ultra Violet
$primary-color-2: #4D4B50;      //Blackened Pearl
$secondary-color-1: #A2A2A1;    //Silver

// PANTONE INTRIGUE
$reserved-color-1: #195190;      //Turkish Sea
$reserved-color-2: #3686A0;      //Blue Moon
$reserved-color-3: #757A4E;      //Calliste Green
$reserved-color-4: #BD9865;      //Pale Gold
$reserved-color-5: #B7C0D7;      // Xenon Blue


.primary-color-1 {
    color: $primary-color-1;
}

.bg-primary-color-1 {
    background-color: $primary-color-1;
}

.primary-color-2 {
    color: $primary-color-2;
}

.bg-primary-color-2 {
    background-color: $primary-color-2;
}

.secondary-color-1 {
    color: $secondary-color-1;
}
.bg-secondary-color-1 {
    background-color: $secondary-color-1;
}