<div class="side-navbar-container">
  <div class="menu-toggler" (click)="toggleMenu()">
    <i class="fas fa-bars fa-2x icon" on></i>
  </div>
  <nav class="side-navbar" [@toggleMenu]="isCollapsed"> 
    <div class="upper-icons">
      <div class="icon" routerLink=""><i class="fas fa-home fa-2x"></i></div> 
      <div class="icon" routerLink="pets"><i class="fas fa-paw fa-2x"></i></div>
    </div>
    <div class="lower-icons">
      <div class="icon" routerLink="about"><i class="fas fa-question-circle fa-2x"></i></div>
    </div>
  </nav>
</div>